
html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  height: 50%; 
  display: flex;
  flex-direction: column;
}
.menu 
{
  background-color: #0d4896;
  top: 0; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  list-style-type: none;
}
.menu a 
{
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  transition: font-weight 0.3s ease, background-color 0.3s ease;
  width: 120px;
}

.menu a:hover 
{
  background-color: #ffffff;
  border-radius: 5px;
  color: #0d4896;
  font-weight: 700;
}
.menu a.active 
{
  background-color: #ffffff; 
  color: #0d4896;
  font-weight: bold; 
  border-radius: 5px; 
}
h1
{
  text-align: center;
  color: #0d4896;
  font-size: 2.5em;
  margin-top: 20px; 
  margin-bottom: 20px;
}
h2,h3
{
  text-align: left;
  color: #0d4896;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
footer {
  background-color: #0d4896; 
  color: white; 
  text-align: center;
  padding: 20px 0; 
  font-size: 14px; 
  margin-top: 20px; 
}
    p {
    font-size: 15px; 
    line-height: 1.5; 
    color: #333; 
    margin-bottom: 15px; 
    text-align: center;
    padding: 0 20px; 
  }
  

#footer-content {
  text-align: center; 
  padding: 10px 0; 
  font-size: 17px; 
  color: #ffffff; 
  background-color: #0d4896; 
  margin-top: 50px; 
  border-radius: 30px;
}
#tema-leiras
{
  padding: 10px 20px;
  margin: 20px auto;

}
.introtext
{
  font-size: 1.2em;
  line-height: 1;
  color: #333;
  margin: 20px auto;
  text-align: center;
  padding: 20px
}
body > *:not(footer) {
  flex: 1; 
}
br
{
  border:1px solid #0d4896;
  margin: 20px auto;
}